.main 
{
    padding: 40px 0px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    font-weight: bolder;
}

.headingDiv 
{
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 900px
}

.description1 
{
    width: 80%;
    color: white;
    font-weight: normal;
    font-size: 25px;
    margin: 10px 0px;
}

.benefits 
{
    width: 80%;
    min-height: 70vh;
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.benefitsHeading
{
  color: white;
  width: 80%;
  font-size: 2rem;
}

.data 
{
    width: 50%;
    font-size: 25px;
}



.image 
{
    width: 450px;
    height: 450px;
    border-radius: 15px;
    margin-top: 15px;
}

.dataHeader 
{
    font-size: 25px;
    font-weight: 400;
}

.ul 
{
    padding: 0;
}

.button 
{
    width: 280px;
    height: 60px;
    background-color: #A100FF;
    border-radius: 15px ;
    color: aliceblue;
    font-size: 15px;
}

.buttonDiv 
{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    color: white;
}

@media screen and (max-width: 1000px)
{
    .headingDiv
    {
        width: 90%;
        font-size: 1.5rem;
    }

    .description1
    {
        font-size: 1.5rem;
    }

    .dataHeader
    {
        font-size: 1.5rem;
    }

    .data 
    {
        margin-right: 10px;
    }

    .image 
    {
       width: 350px;
       height: 350px;
       margin: 10% 0;
    }
}

@media screen and (max-width: 800px)
{

    .benefits
    {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .benefitsHeading
{
  text-align: center;
}

.data
{
    width: 100%;
    margin: 0;
}

.benefitsHeading
{
    width: 100%;
}

.buttonDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
}

@media screen and (max-width: 500px)
{

    .headingDiv
    {
        font-size: 1.25rem;
    }
    .description1
    {
        width: 93%;
        font-size: 1rem;
    }

    .dataHeader
    {
        width: 100%;
        font-size: 1rem;
    }

    .data 
    {
        width: 95%;
    }
}