@font-face {
    src: url("akira_expanded/Akira\ Expanded\ Demo.otf");
    font-family: Akira Expanded;
  }
  
  .profile-main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
  }
  
  .profile-page1 {
    height: 120vh;
    width: 100%;
    background-image: url("./Asset/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  
  .profile-page1::after {
    content: "";
    height: 60vh;
    width: 100%;
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    bottom: 0px;
  }
  
  .profile-page1 h1 {
    font-family: Akira Expanded;
    font-size: 1200%;
    font-weight: 800;
    line-height: 230px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    padding-top: 160px;
  }
  @media (min-width:450px) and (max-width:1100px) {
    .profile-page1 h1 {
      font-size: 500% !important;
    }
  }

  @media (max-width:449px) {
    .profile-page1 h1 {
      font-size: 150% !important;
    }
    .profile-cards{
      gap: 40px !important;
    }
    .profile-card {
      width: 350px !important;
      padding: 10px 15px 10px 10px !important;
    }
    .profile-input {
      width: 200px !important;
    }
    .profile-card h2 {
      font-size: 20px !important;
    }
  }
  
  .profile-page2 {
    min-height: 100vh;
    width: 100%;
    padding: 100px 100px;
  }
  
  .profile-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  
  .profile-card {
    height: 550px;
    width: 420px;
    border-radius: 20px;
    border: 2px solid white;
    padding: 50px 70px 50px 50px;
    color: white;
  }
  
  .profile-card h2 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 18px;
  }
  
  .profile-input {
    width: 284px;
    height: 32px;
    top: 15px;
    border-radius: 8px;
    padding: 0px 12px;
    background: #90909080;
    color: white;
    display: flex;
    align-items: center;
  }